name: Docker Image CI

on:
  push:
    branches: [ "main" ]
  pull_request:
    branches: [ "main" ]

jobs:

  build:

    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v4

    - name: Login to Docker Hub
      uses: docker/login-action@v3
      with:
        username: ${{secrets.DOCKERHUB_USERNAME}}
        password: ${{secrets.DOCKERHUB_PASSWORD}}

    - name: Build the Docker image
      run: docker build . --file Dockerfile --tag justkwoo/dcsi_310_ia3:latest

    - name: Push The Docker image
      run: dokcer push justkwoo/dcsi_310_ia3:latest
